---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
---

<script src="../scripts/scrollAnimations.ts"></script>

<Layout title="Snoozier">
	<main>
		<Header />
		<Hero subtitle="The revolutionary jumper that adapts to you 24/7" />
		<Features />
	</main>
</Layout>