---
---

<div class="py-1 h-16 fixed w-full top-0 z-50 px-32">
	<nav class="flex h-full justify-center font-cinzel items-center">
		<ul class="flex gap-4 text-xl bg-[#DFDFDF]/60 backdrop-blur-md rounded-full h-full p-2 place-items-center px-12">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/">About</a>
			</li>
			<li>
				<a href="/">Contact</a>
			</li>
		</ul>
	</nav>
</div>