<div class="h-screen relative overflow-y-clip hero noise-background">
	<div>
		<img src="/hero.webp" alt="hero" id="heroForeground" class="h-screen drop-shadow-2xl preloadImg top-0 right-4 z-50 object-cover absolute" />
	</div>
	<div class="w-full h-screen object-cover absolute top-0 left-0 p-8 pt-16">
		<div style="opacity: 0;" class="p-8 heroText absolute z-10">
			<h1 class="text-8xl font-cinzel font-bold tracking-tight text-white">
				Snoozier
			</h1>
			<h2 class="text-2xl font-bold tracking-tight text-white">
				Beyond Ordinary Comfort
			</h2>

			<button class="mt-12 shop">
				<a class="bg-white text-black px-4 py-2 rounded-full group" href="/shop">
					Shop Now <span class="text-black text-xl font-semibold">→</span>
				</a>
			</button>
		</div>
		<img src="/background.webp" alt="background" id="heroBackground" class="w-full h-full preloadImg rounded-[2.5rem] object-cover" />
	</div>
</div>